@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.form-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: 50px auto;
  padding: 8px;
  background-color: lightskyblue;
  border-radius: 10px;
}
input:focus {
  outline: none;
}
.form-product input {
  width: 500px;
  border: none;
  margin: 12px;
  padding: 10px;
  font-size: 18px;
  background-color: white;
}

.form-product button {
  width: 200px;
  height: 35px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: green;
  font-size: 18px;
  font-weight: 500;
}

.cards-container {
  display: flex;
  justify-content: center;

  /* width: 700px; */
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  width: 180px;
  height: 150px;
}

.card p {
  margin: 10px;
  /* padding: 10px; */
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.sum-price p {
  display: flex;
  justify-content: left;
  width: 600px;
  margin: 10px auto;
}
