* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add_task {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1abc9c;
  display: flex;
  justify-content: space-between;
}
input {
  width: 70%;
  padding: 10px;
}

input:focus {
  outline: none;
}
.add_task button {
  width: 30%;
  padding: 10px;
}
.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1abc9c;
}
.tasks div {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 18px;
}

.tasks button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: lightpink;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
